body {
    font-family: 'abeezee', Helvetica, Arial, sans-serif;
}

a {
    text-decoration:none;
    color:black;
}

.middle {
    width:90%;
    max-width:60em;
    margin:auto;
    padding:3px 15px 3px 15px;
    background-color:#fff;
}

.bg{
    height:20em;
    background-image: url("greve.jpg");
    background-size:100%;
    /* background-repeat: no-repeat; */
}

h1 {
    font-family: 'abeezee', Helvetica, Arial, sans-serif;
    font-size:3em;
    text-align:center;
}

p,
li
{
    line-height: 1.5;
    text-align: justify;
}

li {
    margin: 1em 0;
}

.stats tr td,
.foot tr td
{
    width: 33em;
    text-align: center;
}

.stats,
.foot
{
    margin:2em
}

.number
{
    font-family: amaranth, 'abeezee', Helvetica, Arial, sans-serif;
    font-size:3em;
    color: #c00;
}

.foottitle
{
    font-family: amaranth, 'abeezee', Helvetica, Arial, sans-serif;
    font-size:2em;
    color: #c00;
}

.subtitle {
    font-family: amaranth, 'abeezee', Helvetica, Arial, sans-serif;
    font-size:1.2em;
}

@font-face {
    font-family: amaranth;
    src: url("Amaranth-Regular.otf") format("opentype");
}

@font-face {
    font-family: abeezee;
    src: url("ABeeZee-Regular.otf") format("opentype");
}
