body {
    background-color:#f8f8ff;
    font-family: 'abeezee', Helvetica, Arial, sans-serif;
}

a.shylink {
    text-decoration:none;
    color:black;
}

.middle {
    width:90%;
    max-width:60em;
    margin:auto;
    padding:3px 15px 3px 15px;
}

.bg{
    height:20em;
    background-image: url("greve.jpg");
    background-size:100%;
    /* background-repeat: no-repeat; */
}

h1 {
    font-family: 'abeezee', Helvetica, Arial, sans-serif;
    font-size:3em;
    text-align:center;
}
h2 {
    font-family: 'abeezee', Helvetica, Arial, sans-serif;
    font-size:2em;
}

p,
li
{
    line-height: 1.5;
    text-align: justify;
}

li {
    margin: 1em 0;
}

.stats tr td,
.foot tr td
{
    width: 33em;
    text-align: center;
}

.action {
    text-align: center;
    margin-bottom:2em;
    line-height: 3em;
}

.action span
{
    text-align: center;
    margin-left:4px;
    margin-right:4px;
}

.action span>a
{
    text-decoration:none;
    font-weight:bold;
    padding:0.7em 0.9em 0.7em 0.9em;
    color: #fff;
    border-radius: 4px;
}

.action span a.act { background-color: #5cb85c; }
.action span a.info { background-color: #5bc0de; }

.stats,
.foot
{
    margin:2em
}

.number
{
    font-family: amaranth, 'abeezee', Helvetica, Arial, sans-serif;
    font-size:3em;
    color: #c00;
}

.foottitle
{
    font-family: amaranth, 'abeezee', Helvetica, Arial, sans-serif;
    font-size:2em;
    color: #c00;
}

.subtitle {
    font-family: amaranth, 'abeezee', Helvetica, Arial, sans-serif;
    font-size:1.2em;
}

div.tribune {
    background-color:#eef;
    padding:0.1em 1em 0.5em 1em;
}

table.email tr>td {
    padding: 0.5em;
    vertical-align: top;
    border: 1px solid black;
}
table.email {
    background-color:#eef;
    border-collapse: collapse;
    margin:2em 4em 2em 4em;
}
.placeholder {
    background-color:#ccc;
}

img.banniere {
    width:100%;
}

@font-face {
    font-family: amaranth;
    src: url("Amaranth-Regular.otf") format("opentype");
}

@font-face {
    font-family: abeezee;
    src: url("ABeeZee-Regular.otf") format("opentype");
}

